@charset "EUC-KR";

table, th, tr, td {
	border: 1px solid;
	border-collapse: collapse;
}

h1 {
    text-align: center;
}

th {
    background-color: #eee;
}

#order_info {
	width: 220px;
	height: 120px;
	float: left;
    margin-bottom: 30px;
}

#order_info th {
    width: 90px;
	word-break: break-all;
}

#order_state {
	width: 200px;
	height: 100px;
	float: right;
}

#order_state th {
    height: 40px;
	word-break: break-all;
}

#vaca_table {
    width: 100%;
}

textarea {
    width: 98%;
}
